

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width: 80%;
}

form div {
}